#blog-list div {
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 10px;
}

#blog-list div p {
  word-wrap: break-word;
}

/* Post Title */
#blog-list div h1 {
  margin: 0px;
  text-decoration: underline;
}

#blog-list div p:nth-child(2) {
  color: #964B00;
  margin: 2px;
  font-size: 11px;
}

/* Post ID */
#blog-list div p:last-child {
  color: navy;
  font-size: 11px;
  float: right;
  margin: -4px;
}
